name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"

      - name: Set up Just
        uses: extractions/setup-just@v3

      - name: Tidy
        run: just tidy

      #    - name: Lint
      #      uses: golangci/golangci-lint-action@v7

      - name: Test
        run: just test
